<h2>Tus pokemons</h2>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let pokemon of teamList" style="max-width: 220px;">
      <div  [ngClass]="pokemon.type.length>1? 'card text-bg-danger':'card text-bg-success '">
        <img [src]="pokemon.image" class="card-img-top" [alt]="pokemon.name">
        <div class="card-body">
          <h5 class="card-title">{{pokemon.name}}</h5>
          <ul class="list-group list-group-flush ">
            <li [ngClass]="pokemon.type.length>1? 'list-group-item text-bg-danger':'card text-bg-success '" >{{pokemon.type}}</li>
            <li [ngClass]="pokemon.type.length>1? 'list-group-item text-bg-danger':'card text-bg-success '"  >
              <div *ngFor="let logo of pokemon.logo" class="row gx-2"><img [src]="logo" class="card-img-top width:24px" [alt]="pokemon.name" style="max-width: 54px"></div></li>
            <li [ngClass]="pokemon.type.length>1? 'list-group-item text-bg-danger':'card text-bg-success '" >{{pokemon.ps}}</li> 
          </ul>
          <div class="card-body d-grid  d-md-flex flex-column justify-content-md-end vstack gap-3">
            <a class="btn btn-primary"  (click)="showPokeFromTeam(pokemon.id)">Detalles</a>
            <button class="btn btn-primary" type="button" (click)="removeFromTeam(pokemon)">Quitar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="pokemonDetail.length>0">
    <h3>Descripción</h3>
    <div class="card text-bg-info mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img [src]="pokemonDetail[0].image" class="img-fluid rounded-start" [alt]="pokemonDetail[0].name">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{pokemonDetail[0].name}}</h5>
            <p class="card-text">{{pokemonDetail[0].description}}</p>
            <h5 class="card-title">Movimientos</h5>
            <ul class="list-group list-group-flush" *ngFor="let move of pokemonDetail[0].move">
              <li class="list-group-item text-bg-info">{{move}}</li>
            </ul>
            <p class="card-text"><small class="text-muted">{{pokemonDetail[0].ps}}</small></p>
 
          </div>
        </div>
      </div>
    </div>
  </div>
